{# Load Django template tag library #}
{% load bootstrap4 %}

<!doctype html>
<html lang="en">
  <head>
    {# Standard HTML stuff #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Learning Log</title>

    {# Load CSS and JavaScript Bootstrap #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

  </head>

  <body>
    {# Bootstrap navigation panel #}
    <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4 border-bottom">

      {# Brand text/logo #}
      <a class="navbar-brand" href="{% url 'learning_logs:index' %}">Learning Log</a>

      {# Collapsive button (toggler) #}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        {# Toggle icon #}
        <span class="navbar-toggler-icon"></span>
      </button>

      {# Navigation in navigation bar #}
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'learning_logs:topics' %}">Topics</a> 
          </li>
          {% if user.is_authenticated %}
            {% if user.is_stuff %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'learning_log:admin' %}">Admin</a> 
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:logout' %}">Log out</a> 
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:register' %}">Register</a> 
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:login' %}">Log in</a> 
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    {# Main content #}
    <main role="main" class="container">
      <div class="pb-2 mb-2 border-bottom">
        {% block header %}{% endblock header %}
      </div>
      <div>
        {% block content %}{% endblock content %}
      </div>
    </main>

    {# Page footer #}
    <footer class="bg-primary text-white text-center text-lg-start">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Footer Content</h5>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam voluptatem veniam, est atque cumque eum delectus sint!  </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled mb-0">
              <li> <a href="#!" class="text-white">Link 1</a> </li>
              <li> <a href="#!" class="text-white">Link 2</a> </li>
              <li> <a href="#!" class="text-white">Link 3</a> </li>
              <li> <a href="#!" class="text-white">Link 4</a> </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0">Links</h5>

            <ul class="list-unstyled">
              <li> <a href="#!" class="text-white">Link 1</a> </li>
              <li> <a href="#!" class="text-white">Link 2</a> </li>
              <li> <a href="#!" class="text-white">Link 3</a> </li>
              <li> <a href="#!" class="text-white">Link 4</a> </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>
