<!-- Web page header -->
{% extends "learning_logs/base.html" %}

{% block header %}
  {% if user.is_authenticated %}
    <h1>All created topics:</h1>
  {% else %}
    <h1>Publicly available topics:</h1>
  {% endif%}
{% endblock header %}

{% block content %}

  <ul>
    {% for topic in topics %}
      <li>
        <h4>
          <a href="{{ topic.id }}">{{ topic }}</a>
        </h4>
      </li>
    {% empty %}
      <li><h3>No topics have been created yet.</h3></li>
    {% endfor %}
  </ul>

  <p>
  <a class="btn btn-primary" href="{% url 'learning_logs:new_topic' %}">Add new topic to the list</a>
  </p>

{% endblock content %}
