<!-- Web page header -->
{% extends "learning_logs/base.html" %}

{% block header %}
  <h1>All created topics:</h1>
{% endblock header %}

{% block content %}

  <ul>
    {% for topic in topics %}
      <li>
        <h3>
          <a href="{{ topic.id }}">{{ topic }}</a>
        </h3>
      </li>
    {% empty %}
      <li><h3>No topics have been created yet.</h3></li>
    {% endfor %}
  </ul>

  <h3>
    <a href="{% url 'learning_logs:new_topic' %}">Add new topic to the list</a>
  </h3>

{% endblock content %}
